# MySQL 对外端口及初始化账户
MYSQL_PORT=3306
MYSQL_DATABASE=ddd_rbac_scaffold_lite
MYSQL_ROOT_PASSWORD=change-this-mysql-root-password
MYSQL_USER=ddd_rbac_user
MYSQL_PASSWORD=change-this-mysql-user-password

# Redis 对外端口与访问密码
REDIS_PORT=6379
REDIS_PASSWORD=change-this-redis-password
